mef/schema/substitution.rnc

substitution-definition =
  element define-substitution {
    name?,
    attribute type { "delete-terms" | "recovery-rule" | "exchange-event" }?,
    label?,
    attributes?,
    element hypothesis { formula },
    element source { basic-event+ }?,
    element target { basic-event+ | Boolean-constant }
  }
